.env
.env.*
.DS_Store

assets/storage
assets/*
!assets/favicon.ico
!assets/index.html

storage/cronjobs/*
!storage/cronjobs/index.html
storage/logs/*
!storage/logs/index.html
storage/framework/cache/*
!storage/framework/cache/index.html
storage/framework/sessions/*
!storage/framework/sessions/index.html
storage/framework/uploads/*
!storage/framework/uploads/index.html

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
